*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  transition: background 0.2s linear;
  scroll-behavior: smooth;
  overflow-x: hidden !important;

  /* display: block; */
}

.handwritten {
  font-family: "Square Peg", cursive;
}

.anton_font {
  font-family: "Anton", sans-serif;
}

.image_radius {
  border-radius: 1rem;
}

/******************* HOVER PROJECTS STYLING ********************/

.container {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: #c9d546eb;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/******************* BUTTON STYLING ********************/
button {
  border: 0;
  position: relative;
  background-color: #c9d5463c;
}

button::before,
button::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.spin {
  height: 200px;
  width: 200px;
}

.spin::before,
.spin::after {
  top: 0;
  left: 0;
}

.spin::before {
  border: 2px solid transparent;
}

.spin:hover::before {
  border-top-color: #c9d546eb;
  border-right-color: #c9d546eb;
  border-bottom-color: #c9d546eb;
  transition: border-top-color 0.15s linear,
    border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
}

.spin::after {
  border: 0 solid transparent;
}

.spin:hover::after {
  border-top: 2px solid #c9d546eb;
  border-left-width: 2px;
  border-right-width: 2px;
  transform: rotate(270deg);
  transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s,
    -webkit-transform 0.4s linear 0s;
}

.circle {
  border-radius: 100%;
  box-shadow: none;
}

.circle::before,
.circle::after {
  border-radius: 100%;
}

.btn-one {
  transition: all 0.3s;
  /* position: relative; */
}
.btn-one {
  transition: all 0.3s;
}

.btn-one:hover {
  letter-spacing: 3px;
}

/******************* BURGER MENU ********************/

:root {
  --bar-width: 60px;
  --bar-height: 7px;
  --hamburger-gap: 6px;
  --foreground: #191919;
  --background: white;
  --hamburger-margin: 15px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: var(--hamburger-margin);
  right: var(--hamburger-margin);
  z-index: 200;
  cursor: pointer;
}

.hamburger-menu:has(input:checked) {
  --foreground: white;
  --background: #333;
  position: fixed;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
  z-index: 200;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  transition: translate var(--animation-timing);
  translate: 100%;
  padding: 0.5rem 1rem;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  background-color: var(--foreground);
  color: var(--background);
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  z-index: 100;
}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}
